language: python

git:
  submodules: false

notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/7d967d9679efbbc43466
    on_success: change  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
    on_start: false     # default: false

python:
  - "3.5"

addons:
  apt:
    packages:
      - pyqt5-dev-tools

before_install:
  - ./scripts/travis_prepare_deploy.sh

install:
  - pip install -r requirements.txt

jobs:
  include:
    - stage: static tests
      script:
        - python3 -m flake8 --jobs=1
        #- docker run -v $TRAVIS_BUILD_DIR:/root/qgissettingmanager "qgis/qgis:${QGIS_DOCKER_TAG}" /root/qgissettingmanager/test/run_in_qgis_docker.sh

    - stage: deploy
      if: tag IS present
      script: plugin_ci/release/release.sh

    - stage: deploy
      if: branch = master and type != pull_request
      script: plugin_ci/translate/update-translations.sh

env:
  global:
    - CREATE_DATE=2015-08-07

    # GH_TOKEN for creating releases
    # https://help.github.com/articles/creating-a-personal-access-token-for-the-command-line
    # authorize only "repo_deployment"
    # travis encrypt GH_TOKEN="......"
    - secure: "aY+lvDgJE+WDJq2X99XKIuRAz7kXJi/dAEv3KBoMx5/U7nQscgPZHOKn9YCLf1HnrtK4+EI0IIP+4ZyNEv/cweQRVoB4lZss3b6LvttEjRavime6LPuFS9l514zD4OXjEl/8t3sh4teSBDn0C1k1okj+89b+Jkcf9ut+pQ7vhXO1lLfZXjnwkmSh3i0rJVfdmW6dYeIAZ8MaQbgmydlJ5BtY4qRU6NkN2zT+eIC5OzBKcN7lHvYYcqN9ZXQyzBp/COAuSsFvmV7vi4SZESpmdFz3A/k63Kb3+WlN5hBRAyUCufYuW++JSUL54c76iRg0ECX7iEFG88F1fNo5P5OLQKkxW/dKA22BdiE6vgoE/yvVmh3Qe4khZdJ214ZjF8BmgJtnEBe2HExY3i3tjniXKP/vLY2KKZwDQBpVJjalv+SQoLIdf4XyYGTZOyxDDh88rIKrcGqxs2szCT1pj1VzMQ/eIUDZkuEmpSRBPVY2P6y4KX9mMcJNPXDY2e/ANuBJNzQv9HMGIubGraIXtfXYQnKA9Mrq2ufuvekEd2ggiUu2rzx2Flds8Fld73RK/w8KPqPFee1PKaNKVZh8v/Fts4yOTOTOKiIYJ+KKZZmaDMHgLAZbTbRMNJ64z5KLbGmNeTH/nQuwY4sRANm5H0z7XVUJMCtw7pZq2HELQtp0Jko="
